data/images/
data/science/
galight_fitruns/big_fits/
data/catalogs/
#prospector/fits_data/
*.pyc
referenceCatalog.txt
referenceCatalog_with_uncertainties.txt
referenceCatalog_with_uncertainties_matching.txt